.idea
data
retweets-analytics/src/main/resources/
!retweets-analytics/src/main/resources/2021-01-06/received=20-55-34/
.DS_Store
scripts/__pycache__/

*.class
*.log

# sbt specific
retweets-analytics/.cache/
retweets-analytics/.history/
retweets-analytics/.lib/
retweets-analytics/dist/*
retweets-analytics/.bsp/
retweets-analytics/target/
retweets-analytics/lib_managed/
retweets-analytics/src_managed/
retweets-analytics/project/boot/
retweets-analytics/project/project/
retweets-analytics/project/plugins/project/
retweets-analytics/project/target/

# Scala-IDE specific
retweets-analytics/.scala_dependencies
retweets-analytics/.worksheet
retweets-analytics/.idea